html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
button {
  background-color: #126bc5;
  color: white;
  border-radius: 12px;
  border: 0px;
  max-width: fit-content;
  padding: 8px;
}

#filterCard {
  align-items: center;
  display: flex;
  width: 68%;
  padding: 0px 0px 20px 22px;
}

#filterCard label {
  padding-right: 10px;
}
#search {
  margin-left: 12px;
}
header {
  padding: 20px 0px 30px 0px;
  background-color: #126bc5;
  color: white;
}
.subTitle {
  color: #126bc5;
  background-color: white;
  font-size: 30px;
  padding: 20px;
}
#balance {
  font: 32px ui-monospace;
}
.transactionCard {
  width: 46%;
}
.accountTitle {
  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  min-height: 59%;
  justify-content: space-around;
}

#filter {
  width: auto;
  height: 35px;
  border: 2px solid #126bc5;
  border-radius: 7px;
  font-size: large;
}

footer {
  background-color: #128842;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  font-size: 10px;
}

.card {
  width: 400px;
  min-width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}
.name {
  color: black;
  padding-left: 15px;
  line-height: normal;
}
.name p {
  margin: 0px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #d6eeee;
}

input {
  height: 32px;
  padding-left: 14px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signUpButton {
  align-items: center;
  display: flex;
}

.signUpButton p {
  padding-right: 10px;
}

.subHeader {
  display: flex;
}
.logout {
  padding: 32px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.loginForm div {
  display: flex;
  justify-content: space-between;
}

.loginForm {
  width: 30%;
}
.signUpForm {
  width: 32%;
}
.signUpTitle {
  font: small-caps bold 32px arial, sans-serif;
  color: #126bc5;
}
.conditionMessage {
  font-size: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid;
  padding: 30px;
  border-radius: 25px;
}

form > * {
  margin: 6px;
}
.title {
  width: 50%;
  font-size: 60px;
  padding-left: 120px;
}
#userName {
  padding-bottom: 11px;
  font-size: 32px;
}

#loginLocation {
  font-size: x-small;
}
#errorMessage {
  display: none;
  padding: 6px;
}
